/* https://coolors.co/palette/57cc99-1048d1-fbce33-d52941 */

/* $primary: #ffbe0b;
$secondary: #1048d1;
$success: #57cc99;
$danger: #d52941;
 */
@import '../node_modules/bootstrap/scss/bootstrap';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  font-size: 90%;
}

body {
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  /* background: $secondary; */

  font-size: 1.5rem;
  font-family: 'Maven Pro', sans-serif;
  /* color: $primary; */
  font-weight: 400;
  line-height: 1.7;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav .nav-item a {
  text-decoration: none;
  color: unset;
}
